header {
  text-align: center;
  padding: 10rem 0;
}
nav {
  max-height: 70px;
  line-height: 70px;
  background: #F44336;
  color: #fff;
  padding: 20px 0px;
}
nav ul {
  list-style-type: none;
}
nav a{
  display: inline-block;
  padding: 0 20px 0 0;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #fff;
}
.right {
  float: right;
}
.brand-mark {
  font-size: 55px;
  font-weight: 600;
  float: left;
}
